html
html 
head 
    title Form Tester 

body 
    form(action="/", method="POST")
    div 
    lable(for="Say") Say:
    input(name="say" value="Hi")
    br
    div
    lable(for="To") To:
    input(name="to" value="Express Forms")
    br
    button(type="submit") Send my greetings 
    
